.dataTable,tr,td{
    border: 1px solid red;
    border-collapse: collapse;
    /* padding: 10px; */
    /* width: 30%;  */
    /* margin: 30px 30px; */
}
.adminHeading{
    width:90%; 
    background-color: rgb(118, 185, 230);
    box-shadow: 0px 0px 5px rgb(248, 248, 244);;
}
/* body{
    background-image: url(./Images/adminbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
} */